// SCSS Değişkenleri
$app-bg: #36393f;
$text-color: #ffffff;
$button-bg: #5865f2;
$button-hover-bg: #4752c4;
$inkwell-inception: #1e1f23;
$bastille: #2c2d31;
$ebony-clay: #323338;

body {
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.Discort {
  min-height: 100vh;
  background-color: $ebony-clay;
}

.side {
 background-color: $inkwell-inception;
 position: fixed;
 top: 0;
 left: 0;
 width: 80px;
 height: 100vh;
 border-radius: 5px;

 &-ds {
  width: 60px;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
 }
}

.sidebar {
 background-color: $bastille;
 position: fixed;
 top: 0;
 left: 80px;
 width: 250px;
 height: 100vh;
 border-radius: 5px;
}
