$inkwell-inception: #1e1f23;
$bastille: #2c2d31;
$ebony-clay: #323338;
$ebony-clay-10: #333437;
$dark-ages: #969ba3;
$black-russian: #25262a;
$artist-s-charcoal: #37383e;
$after-midnight: #383a3f;
$bold-irish: #288047;
$fioletowy-beige: #fffbe1;
$drifting-cloud: #dbdee1;
$metalise: #35373c;
$napoleon: #404249;
$soft-pumice: #949ba4;
$red: #ff0000;
$hawk-s-eye: #35363a;
$smoking-night-blue: #43444b;
$cloud-abyss: #dee8eb;

$font-family-open: 'Open Sans', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-sen: 'Sen', sans-serif;
$font-family-inter: 'Inter', sans-serif;

$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

body {
 margin: 0;
 padding: 0;
}

.Discort {
 min-height: 100vh;
 background-color: $ebony-clay;
}

.side {
 background-color: $inkwell-inception;
 position: fixed;
 top: 0;
 left: 0;
 width: 80px;
 height: 100vh;
 border-radius: 5px;

 &-ds {
  width: 50px;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
  margin: 10px 10px 5px 15px;

  &.active {
   border-radius: 8px;
  }
 }

 &-line {
  border: none;
  width: 40px;
  height: 2px;
  background-color: $ebony-clay-10;
  margin: 2px 0 0 20px;
  display: block;
 }

 &-server {
  display: flex;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 10px 0 0 20px;
  cursor: pointer;

  &.active {
   border-radius: 5px;
   transition: background-color 0.2s ease, color 0.2s ease;
  }

  &:hover {
   transition: background-color 0.2s ease, color 0.2s ease;
   border-radius: 5px;
  }
 }
}

.sidebar {
 background-color: $bastille;
 position: fixed;
 top: 0;
 left: 80px;
 width: 250px;
 height: 100vh;
 border-radius: 5px;

 &-input {
  width: 90%;
  padding: 8px;
  margin: 20px 16px 4px 12px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  font-family: $font-family-roboto;
  background-color: $inkwell-inception;

  &:focus {
   outline: none;
  }
 }

 &-divider {
  border: none;
  border-top: 2px solid $black-russian;
  margin: 12px 0 6px 0;
 }

 &-tab {
  padding: 8px 0 8px 20px;
  margin: 0px 7px 0 7px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  color: $dark-ages;
  align-items: center;
  display: flex;

  &-icon {
   margin-right: 20px;
   display: flex;
   position: relative;
   color: $soft-pumice;
  }

  &-text {
   display: flex;
   position: relative;
   font-family: $font-family-open;
   color: $soft-pumice;
  }

  &:hover {
   background-color: $metalise;
   color: $drifting-cloud;
  }

  &.active {
   background-color: $napoleon;

   .sidebar-tab-text {
    color: $drifting-cloud;
   }

   .sidebar-tab-icon {
    color: $drifting-cloud;
   }
  }
 }

 &-direct {
  display: flex;
  margin: 23px 0 5px 25px;
  gap: 80px;

  &-text {
   font-weight: 500;
   font-size: $font-size-12;
   color: $soft-pumice;
   font-family: $font-family-roboto;
   cursor: default;

   &:hover {
    color: $cloud-abyss;
   }
  }

  &-icon {
   color: $soft-pumice;
   cursor: pointer;
   display: flex;
   margin-top: 6px;
  }
 }

 &-people {
  display: flex;
  margin: 5px;
  gap: 10px;
  align-items: center;
  margin: 10px 10px 0 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;

  &:hover {
   background-color: $smoking-night-blue;

   .sidebar-people-name {
    color: $drifting-cloud;
   }
  }

  &-pic {
   display: flex;
   border-radius: 100%;
   width: 30px;
   height: 30px;
   background-color: white;
  }

  &-name {
   display: flex;
   font-size: $font-size-14;
   font-family: $font-family-roboto;
   color: $soft-pumice;
  }
 }

 &-bottom {
  display: flex;
  position: fixed;
  background-color: $black-russian;
  width: 250px;
  height: 50px;
  bottom: 0;

  &-pic {
   background-color: white;
   border-radius: 100%;
   width: 40px;
   height: 40px;
   margin: 5px 0 0 10px;
   display: flex;
  }

  &-mid {
   display: flex;
   flex-direction: column;
   margin: 10px 0 0 10px;
   gap: 2px;

   &-nick {
    display: flex;
    font-size: $font-size-12;
    font-family: $font-family-roboto;
    color: $fioletowy-beige;
   }

   &-stat {
   display: flex;
   font-size: $font-size-12;
   font-family: $font-family-roboto;
   color: $soft-pumice;
   }
  }

  &-icons {
   display: flex;
   color: $drifting-cloud;
   margin: 10px 5px 10px 40px;
   gap: 2px;
   cursor: pointer;

   &-icon {
    display: flex;
    padding: 6px;

    &:hover {
      background-color: $hawk-s-eye;
      border-radius: 5px;
    }
   }

   &-icon.active {
    color: $red;
   }
  }
 }
}

.main {
 display: flex;
 flex-direction: column;
 margin-left: 330px;
  
 &-top {
  height: 70px;
  display: flex;

  &-friends {
   padding: 8px 0 8px 20px;
   margin: 5px 7px 0 7px;
   cursor: default;
   border-radius: 4px;
   font-weight: 500;
   color: $dark-ages;
   align-items: center;
   display: flex;

   &-icon {
    margin-right: 20px;
    display: flex;
    position: relative;
    color: $cloud-abyss;
   }

   &-text {
    display: flex;
    position: relative;
    font-family: $font-family-open;
    color: $cloud-abyss;
   }
  }

  &-divider {
   width: 120%;
   height: 2px;
   margin-top: 70px;
   margin-left: -620px;
   border: none;
   border-top: 1px solid $black-russian;
  }

  &-dividers {
   width: 1px;
   height: 30px;
   margin-left: 15px;
   border: none;
   background-color: $after-midnight;
  }

  &-tab {
   cursor: pointer;
   align-items: center;
   margin: 23px 2px 14px 20px;
   padding: 5px;
   border-radius: 3px;
   transition: background-color 0.2s ease, color 0.2s ease;

   &-text {
    font-family: $font-family-open;
    color: $dark-ages;
    white-space: nowrap;
    font-weight: 500;
    color: $soft-pumice;
   }

   &:hover {
    background-color: $smoking-night-blue;
   }

   &.active {
    background-color: $smoking-night-blue;
    
    .main-top-tab-text {
     cursor: default;
     color: $cloud-abyss;
    }
   }
  }

  &-tabs {
   cursor: pointer;
   align-items: center;
   margin: 25px 2px 15px 20px;
   padding: 5px;
   background-color: $bold-irish;
   border-radius: 3px;

   &-text {
    font-family: $font-family-open;
    color: $dark-ages;
    white-space: nowrap;
    font-weight: 500;
    color: $fioletowy-beige;
   }
  }

  &-right {
   color: $drifting-cloud;
   display: flex;
   position: fixed;
   gap: 20px;
   top: 37px;
   right: 20px;
  }
 }

 &-content {
  flex: 1;

  &-search {
   display: flex;
   margin: 18px 0 0 30px;

   &-searchbar {
    width: 70%;
    border: none;
    outline: none;
    background-color: $inkwell-inception;
    padding: 8px;
    border-radius: 5px;
    color: $fioletowy-beige;
    z-index: 1;
   }

   &-icon {
    color: $soft-pumice;
    margin-left: -10px;
    padding: 7px;
    border-radius: 5px;
    background-color: $inkwell-inception;
    z-index: 1;
   }
  }

  &-subject {
   display: flex;
   margin: 30px 0 0 35px;
   flex-direction: column;
   width: 73.6%;
   overflow-x: hidden;
   overflow-y: auto;
   max-height: 770px;

   scrollbar-width: thin; 
   scrollbar-color: #7289da #23272A; 
  /* thumb rengi (#7289da) ve track rengi (#23272A) */

  /* WebKit tabanlı tarayıcılarda özel stiller: */
   &::-webkit-scrollbar {
    width: 10px;            /* scrollbar genişliği */
   }

   &::-webkit-scrollbar-track {
    background: #23272A;    /* track (arkaplan) rengi */
    /* margin: 5px; <-- margin çoğu zaman işe yaramaz, 
       track boyutunu ayarlamak istersen border/padding kullanabilirsin. */
    border-radius: 10px;
   }

   &::-webkit-scrollbar-thumb {
    background-color: #7289da;  /* scroll thumb (kaydırma çubuğu) rengi */
    border-radius: 10px;        /* köşeleri yuvarla */
    border: 2px solid #23272A;  /* thumb çevresinde boşluk hissi yaratır */
   }

   /* Eğer scrollbarın köşesini de şekillendirmek istersen */
   &::-webkit-scrollbar-corner {
    background: #23272A; 
   }

   &-situation {
    cursor: default;
    color: $soft-pumice;
    font-size: $font-size-12;
    font-family: $font-family-roboto;
    margin-bottom: 10px;
   }

   &-divider {
    width: 100%;
    height: 1px;
    z-index: 1;
    border: none;
    background-color: $after-midnight;
   }

   &-messages {
    display: flex;
    width: 95%;
    flex-direction: column;

    &-message {
     display: flex;
     margin: 5px 0 5px 0;
     align-items: center;
     cursor: pointer;
     width: 100%;
     padding: 10px;
     border-top: 1px solid $after-midnight;

     &:hover {
      background-color: $napoleon;
      border-radius: 5px;

      .main-content-subject-messages-message-icons-chat {
       background-color: $inkwell-inception;
      }

      .main-content-subject-messages-message-icons-settings {
       background-color: $inkwell-inception;
      }
     }

     &-pic {
      background-color: white;
      border-radius: 100%;
      width: 40px;
      height: 40px;
     }

     &-texts {
      display: flex;
      margin-left: 15px;
      flex-direction: column;

      &-nick {
       font-size: $font-size-14;
       font-family: $font-family-roboto;
       color: $cloud-abyss;
      }

      &-what {
       color: $soft-pumice;
       white-space: nowrap;
      }
     }

     &-icons {
      display: flex;
      margin-left: auto;
      gap: 20px;
      color: $soft-pumice;

      &-chat {
       background-color: $bastille;
       padding: 15px 8px 14px 8px;
       border-radius: 100%;
      }

      &-settings {
       background-color: $bastille;
       padding: 15px 15px 15px 15px;
       border-radius: 100%;
      }
     }
    }
   }
  }

  &-online {
   display: flex;
   position: fixed;
   width: 350px;
   right: 0;
   top: 120px;
   z-index: 10;

   &-divider {
    position: fixed;
    display: flex;
    height: 100%;
    border: none;
    width: 2px;
    top: 63px;
    right: 380px;
    background-color: $after-midnight;
   }

   &-right {
    display: flex;
    flex-direction: column;

    &-top {
     display: flex;
     font-size: $font-size-18;
     font-family: $font-family-open;
     color: $drifting-cloud;
     margin-top: -30px;
    }

    &-text {
     display: flex;
     text-align: center;
     font-size: $font-size-14;
     font-family: $font-family-roboto;
     color: $drifting-cloud;
     margin: 50px 0 10px 90px;
    }

    &-description {
     display: flex;
     text-align: center;
     color: $dark-ages;
     width: 95%;
     max-height: 20px;
     font-size: $font-size-12;
     font-family: $font-family-open;
    }
   }
  }
 }
}